<h1>New post</h1>

<% unless params.valid? %>
  <div>
    <h3>There was a problem with your submission</h3>
    <ul>
      <% params.error_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render partial: 'form' %>
