<h1>New post</h1>

<% unless params.valid? %>
  <div>
    <h3>There was a problem with your submission</h3>
    <ul>
      <% params.error_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%=

  form_for :post, routes.path(:posts) do
    div do
      label :title
      text_field :title
    end

    div do
      label :body
      text_field :body
    end

    div do
      submit 'Create new post'
    end
  end

%>
